@charset "utf-8";

// font icon

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?vcxnuv');
    src:url('fonts/icomoon.eot?#iefixvcxnuv') format('embedded-opentype'),
        url('fonts/icomoon.woff?vcxnuv') format('woff'),
        url('fonts/icomoon.ttf?vcxnuv') format('truetype'),
        url('fonts/icomoon.svg?vcxnuv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-point-up:before {
    content: "\ea03";
}

.icon-facebook:before {
    content: "\ea8c";
}

.icon-twitter:before {
    content: "\ea91";
}

.share-icons {
    padding-bottom: 10px;
}

.social {
  padding: 0;
  margin: 0;

  a {
    color: $nbn-purple;
  }

  li {
    display: inline-block;
    width: 30px;
    height: 30px;

    a {
      display: block;
      text-decoration: none;
      font-size: 13px;
    }

    span {
      position: relative;
      top: 10px;
    }

    &:hover {
      cursor: pointer;
      color: $off-black;
    }
  }
}