@charset "utf-8";
// Font variables
$font-stack: 'futura-pt', Helvetica, sans-serif;
$accent-stack: 'Montserrat', Helvetica, sans-serif;
$text-stack: 'Alegreya', Georgia, serif;
$nbn-purple: #501f84;
$dark-purple: #10015d;
$off-white: #fafafa;
$off-black: #2a2a2a;
$white: #fff;