@charset "utf-8";
@import "vars";
@import "social";
@import "nav";
@import "footer";

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    background-color: #1b1b1b;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}

.extra-masthead {
  font-family: $font-stack;
  letter-spacing: 1px;
}

.circular {
    width: 100%;
}

.intro {
  width: inherit;
  text-align: center;
  margin-bottom: 4em;

  a {
    text-decoration: none;
  }
  
  p {
    font-family: $text-stack;
    font-style: italic;
    color: $off-white;
    font-weight: 800;
    font-size: 3.25rem;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  span {
    background-color: $off-white;
    color: $nbn-purple;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    font-family: $accent-stack;
  }
}

h1 {
    margin: 0;
    padding-top: 20px;
}

p {
  margin: 0;
}

.row {
    margin-top: 2em;
}

.grid-entry, {
    float: left;
    background-color: $white;
    width: 32%;
    margin-bottom: 2em;
    margin-right: 2%;
}

.grid-entry-pos {
    a {
        color: $off-black;
    }

    &:last-child {
        .grid-entry {
            margin-right: 0;
        }   
    }
}

.story-content {
    padding: 30px 20px;

    .story-title {
        font-family: $accent-stack;
        letter-spacing: 2px;
        font-weight: 400;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: $nbn-purple;
    }

    .story-author {
        color: $off-black;
        font-family: $text-stack;
        font-style: italic;
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 2px;
    }

    .story-pullquote {
        margin-top: 10px;
        font-family: $text-stack;
    }
}

// .entry-content {
//     padding: 35px;
    
//     .entry-section {
//         font-family: $font-stack;
//         font-weight: 800;
//         font-size: 1.65em;
//     }

//     .entry-author {
//         font-family: $accent-stack;
//         font-weight: 800;
//         text-transform: uppercase;
//         font-size: 1.235rem;
//         position: absolute;
//         left: 35px;
//         // width: 100%;
//         bottom: 35px;
//     }

//     .entry-subject {
//         font-family: $font-stack;
//         font-weight: 800;
//         font-size: 1.65em;
//         border-bottom: 4px solid transparent;
//     }
// }

@media screen and (max-width : 960px) {
    .grid-entry {
        width: 30.67%;
        margin-left: 2%;
        margin-right: 0;
    }
}

@media screen and (max-width : 768px) {
    .grid-entry {
        width: 47%;
    }
}

@media screen and (max-width : 480px) {
    .grid-entry {
        width: 92%;
        margin-left: 4%;
    }
}