@charset "utf-8";
@import "variables";
@import "social";
@import "nav";
@import "footer";

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  p, h1 {
    color: $off-black;
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  a {
    // color: $pink;
    text-decoration: none;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    &:hover {
      // color: $green;
    }
  }
}

footer {
  margin-top: 0;
}

.circular {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

// entry metadata
.entry {
  background-color: $white;
  padding: 20px 0;
  margin-bottom: 120px;
}

.entry-body {
  font-family: $font-stack;
  margin-bottom: 40px;
}

.entry-details {
  text-align: center;

  h2 {
    color: $purple;
    font-family: $accent-stack;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 15px;
    max-width: 75%;
    margin: 0 auto;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: $text-stack;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
  }
}

.entry-image-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 2em;

  img {
    width: 100%;
  }

  .credit {
    margin-top: 5px;
    font-size: 0.85em;
  }
}

.entry-image {
  position: relative;
  width: 35%;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 100%;
  }
}

.story-image {
  position: relative;
  width: 85%;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 100%;
  }
}

table {
  width: 60%;
  margin: 0 auto;
}

.entry-body {
  font-family: $text-stack;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.45;

  p:first-child {
    padding-top: 20px;
  }

  a {
    color: $purple;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width : 768px) {
    .entry-body p, h1 {
        width: 90%;
    }

    .bio, table {
      width: 90% !important;
    }

    .entry-image-wrapper {
      width: 90%;

      img {
        width: 100%;
      }
    }

    .entry-image {
      width: 50%;
    }

    .grid-entry {
        width: 100%;
    }

    .entry-details h2{
      word-wrap: break-word;
    }
}

@media screen and (max-width : 480px) {
  .entry-details h2{
    font-size:2em;
  }
}