@charset "utf-8";
@import "vars";
@import "social";
@import "nav";
@import "footer";

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
}

.extra-masthead {
  font-family: $font-stack;
  letter-spacing: 1px;
}

.intro {
  font-family: $font-stack;
  width: inherit;
  text-align: center;
  margin-bottom: 4em;

  a {
    text-decoration: none;
  }
  
  p {
    font-family: $text-stack;
    font-style: italic;
    color: $off-white;
    font-weight: 800;
    font-size: 3.25rem;
    padding-bottom: 20px;
    padding-top: 50px;
    margin: 0;
  }

  span {
    background-color: $off-white;
    color: $nbn-purple;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
  }
}

.container {
  p {
    color: $off-black;
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  a {
    // color: $pink;
    text-decoration: none;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    &:hover {
      // color: $green;
    }
  }
}

footer {
  margin-top: 0;
}

.circular {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

// entry metadata

.entry {
  background-color: $white;
  padding: 20px 0;
}

.entry-body {
  font-family: $font-stack;
  margin-bottom: 40px;
}

.entry-details {
  text-align: center;

  h2 {
    color: $nbn-purple;
    font-family: $accent-stack;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 15px;
    max-width: 75%;
    margin: 0 auto;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: $text-stack;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
  }

  h4 {
    color: $off-black;
    font-family: $accent-stack;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.bio {
  font-family: $accent-stack;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

#twitter-bio {
  color: $nbn-purple;
}

.entry-image-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 2em;

  img {
    width: 100%;
  }

  .credit {
    margin-top: 5px;
    font-size: 0.85em;
  }
}

.entry-image {
  position: relative;
  width: 35%;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .credit {
    margin-bottom: 20px;
    p {
      font-family: $text-stack;
      font-size: 0.65rem;
      color: #888;
      font-weight: 300;
    }
  }
}

.entry-body {
  font-family: $text-stack;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.45;

  p:first-child {
    border-top: solid 1px #dfdfdf;
    padding-top: 30px;
  }
}

@media screen and (max-width : 768px) {
    .entry-body p {
        width: 90%;
    }

    .bio {
      width: 90% !important;
    }

    .entry-image-wrapper {
      width: 90%;

      img {
        width: 100%;
      }
    }

    .entry-image {
      width: 50%;
    }

    .grid-entry {
        width: 100%;
    }
}