<footer>
    <div class="credits-container">
        <div class="credits">
            <p><strong>Published on June 12, 2016</strong></p>
            <p><strong>Produced by </strong>Nicole Zhu</p>
            <p><strong>Edited by </strong>Preetisha Sen and Sam Hart</p>
            <p>&#9400; 2016 <a href="http://northbynorthwestern.com" target="_blank">North by Northwestern</a>
        </div>
    </div>
</footer>