<nav>
    <div class="nav-wrapper">
        <div class="logo-wrapper">
            <div class="logo clearfix">
                <a href="//www.northbynorthwestern.com/">
                    <img class="nbn-logo" src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/04/25/nbn_logo_black.svg" alt="">
                </a>
            </div>
        </div>
      <ul id="nav-links" class="clearfix">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Writing</a></li>
        <li><a href="collapsible.html">Multimedia</a></li>
        <li><a href="collapsible.html">Blog</a></li>
      </ul>
    </div>
</nav>