<header class="masthead">
    <div class="logo">
        <a href="//www.northbynorthwestern.com/">
            <img class="nbn-logo" src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/04/25/nbn_logo_black.svg" alt="">
        </a>
        <div class="extra-masthead">
            <a href="/commencement/2015">Commencement 2016</a>
        </div>
        </div>
</header>