<nav>
    <div class="nav-wrapper">
        <div class="logo-wrapper">
            <div class="logo clearfix">
                <a href="//www.evanrindler.com/">
                    <img class="personal-logo" src="images/logo2.png" alt="">
                </a>
            </div>
        </div>
      <ul id="nav-links" class="clearfix">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/multimedia">Multimedia</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
</nav>