---
layout: page
title: Evan Rindler
---

<div class="container">
    <div class="section-wrapper">
        <h1 id="about">About</h1>
        <div class="about-me clearfix">
            <div class="about-image">
                <img src="/images/aboutme.png">
            </div>
            <div class="about-description">
                <p class="intro">Hello! My name is Evan Rindler. I’m a homo sapiens and a former owner of a Samsung flip-phone<strong>*</strong>.</p>
                <p>One day, I’d like to publish a horror novel and grow good lookin’ sideburns (young Elvis-type) but not necessarily in that order.  For now, I make sure to write stories as much as possible, go back to art class, and watch too many movies. You can always reach out to discuss the origin of the universe, greasy food, and zeppelins – my preferred mode of transportation.</p>
                <p><strong>*In 2015, I switched to a smart phone so I can play 2048 while I ride the subway.</strong></p>
            </div>
        </div>
    </div>
</div>