---
layout: page
title: Evan Rindler
---

<div class="container">
    <div class="section-wrapper media-wrapper">
        <h1 id="multimedia">Multimedia</h1>
        <div class="multimedia-entries">
            <div class="sound">
                <div class="sound-description">
                    <h3><span>Close One</span></h3>
                    <p>"Close One" is the product of one long night and the serious experimentation on a laptop.</p>
                </div>
                <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272522520&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
            <div class="sound">
                <div class="sound-description">
                    <h3><span>Maybe</span></h3>
                    <p>My musical skills are few and far between. With “Maybe,” I strived to make a simple, relaxing song.</p>
                </div>
                <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272503752&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                
            </div>
            <div class="sound">
                <div class="sound-description">
                    <h3><span>I Once Had a Dream</span></h3>
                    <p>"I Once Had a Dream" is an audio poem entirely composed of lyrics and music from the Beach Boys seminal album, Pet Sounds. The album simultaneously expanded the sonic capabilities of the band, while plumbing new emotional depths into lead writer Brian Wilson’s troubled mind. The poem reconstructs these messages to better reveal the identity crisis at the center of the Beach Boys: breezy pop or something more?</p>
                </div>
                <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272503501&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
            <div class="sound">
                <div class="sound-description">
                    <h3><span>Headaches</span></h3>
                    <p>"Headaches" is a radio play made in homage to classic, episodic radio storytelling. Inspired by Lights Out and Quiet, Please!  I wrote a spooky episode from the fictional program Fright Night. The show is best consumed with headphones on and the lights turned off.</p>
                </div>
                <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272500684&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
        </div>
    </div>
</div>