---
layout: story
---

<div class="intro">
    <a href="http://apps.northbynorthwestern.com/commencement/2016/" target="_blank">
        <p>North by Northwestern</p>
        <span>Commencement 2016</span>
    </a>
</div>

<div class="container">
    <div class="entry">
        <div class="entry-details">
            <div class="entry-image-wrapper">
                <div class="entry-image">
                    <img class="circular" src="https://media.licdn.com/media/AAEAAQAAAAAAAADYAAAAJDA2ZDJjMjUxLWU0MGMtNGQyOC1hNTY1LWRmNzEzNzlmY2IyMg.jpg" />
                </div>
            </div>
            <h2>Highs and lows</h2>
            <h3>by John Hardberger</h3>
            <h4><a href="http://twitter.com">@johnhardberger</a></h4>
            <p class="bio">John served NBN for 3 years as the life & style editor, managing editor and magazine designer. As for the immediate future, John has no plans but will take life as it comes.</p>
            <div class="share-icons">
                <ul class="social">
                    <a href="http://twitter.com/home?status=North by Northwestern&#8217;s Class of 2016 http://apps.northbynorthwestern.com/commencement/2016 via @nbn_tweets" target="_blank">
                        <li class="twitter-share"><span class="icon-twitter"></span></li>
                    </a>
                    <a href="http://www.facebook.com/sharer.php?u=http://apps.northbynorthwestern.com/commencement/2016" target="_blank">
                        <li class="facebook-share"><span class="icon-facebook"></span></li>
                    </a>
                </ul>
            </div>
            
        </div>
        <div class="entry-body">
            <p>John Cage “composed” his famous 4’33” after a session in the anechoic chamber at Harvard, the most perfectly soundproofed room in the world. But in the utter silence of that room, he was surprised to find he could still hear two sounds. When he described them to the head engineer, the man laughed. He told Cage that the high wine was his nervous system, the low hum his blood.</p>
            <p>It’s a dramatic comparison, but when I ride my bike at night through the streets of Evanston, I understand where Cage was coming from. There are just two sounds: tires swishing across the asphalt and chain links creaking against gears. Different, definitely, from the bodily ambience Cage described, but these sounds sink into my subconscious when I go riding – create a quiet more quiet than any that can exist naturally. I am used to them, these two sounds. We’re familiar. They create a blank screen onto which I project my thoughts.</p>
            <p>I’m of the opinion that you can get used to anything. Some people are faster or slower at it but, generally, that’s what life is: you enter a new stage, like high school or college, and you adapt to it until, ideally, you start to thrive.</p>
            <p>I’m in the slow camp. It took me a good three years to really get into the swing of things at Northwestern. Now that I feel like I have things under control, it’s almost time to leave. I’ve finally started keeping a detailed calendar, I stay on top of my tasks and my relationships have, for the most part, reached healthy, stable plateaus. And while that won’t all magically disappear when I rearrange the tassel on my graduation cap, a whole new series of challenges will manifest in front of me.</p>
            <p>The bike riding has become part of my adaptation process. It’s a coping mechanism. I go for a ride, and I think about things. It’s my anechoic chamber – a moving room without distraction where I can sort out my life in silence. I especially like to ride at night. There’s something clean about the streets after dark, as if dusk could dust out all the trash and distractions when it sweeps through. The slight physical strain is refreshing, and I breathe air like, I imagine, a fish breathes water: completely.</p>
            <p>I was on one of these rides when I got the call. Coming down Sherman, past the construction on Lincoln, my phone started ringing. I had my headphones in so I put the call on and kept riding. A few blocks later, by Fireman Park, I rolled to a stop. My dad had called to tell that my grandmother Stella passed away. It was earlier that day. I sat on a bench in the park and cried. But the story of my grandmother’s life is long and beautiful and for another time. Here, I only want to refer to it in constellation: a month later, Eddy, the dog I’d had since childhood passed as well. It may seem to silly to put his death on the same personal scale as the death of my grandmother, a human being, but if you’ve ever been close to an animal, I imagine you know what I’m talking about.</p>
            <p>The death of a grandparent and/or a pet is classic coming of age material for a growing young person. Something formative that many of us have gone, or will go through. What bothered me though, what really drove me crazy, was that they seemed ahead of schedule. Didn’t the universe know that I was still wrapping things up here? That I couldn’t yet be home to really get the most out of these deaths?</p>
            <p>It made me feel weak – to love someone so much as to be brought low by their absence. Of course, neither of these deaths was unexpected. They were both old. Each had lived a long and happy time. Their loss of life was not what disturbed me: it was the fact I did not get to say goodbye. That there was no way I possibly could have. That I stayed out late. That I didn’t call more. That they were gone was not the hard part. The hard part was that I would miss them, and I couldn’t escape the feeling that if I’d done something different in the past, if I’d somehow just known, then I could, in the present, have some kind of closure.</p>
        </div>
    </div>
</div>