---
layout: story
---

<div class="container">
    <div class="entry">
        <div class="entry-details">
            <div class="entry-image-wrapper">
                <div class="entry-image">
                    <img class="circular" src="" />
                </div>
            </div>
            <h2 class="story-title"></h2>
            <h3 class="publish-date"></h3>
            <div class="share-icons">
                <ul class="social">
                    <a href="http://twitter.com/home?status=North by Northwestern&#8217;s Class of 2016 http://apps.northbynorthwestern.com/commencement/2016/story/ " target="_blank">
                        <li class="twitter-share"><span class="icon-twitter"></span></li>
                    </a>
                    <a href="http://www.facebook.com/sharer.php?u=http://apps.northbynorthwestern.com/commencement/2016/story/" target="_blank">
                        <li class="facebook-share"><span class="icon-facebook"></span></li>
                    </a>
                </ul>
            </div>
            
        </div>
        <div class="entry-body">
        </div>
    </div>
</div>